
#cimsor{
    background-color: #098d26;
    height: 10rem;
    padding: 2.5rem;
}
#cim{
    color: white;
    font-weight: 600;
    font-style: italic;
    text-shadow: 1px 1px #222;
}

body{
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
}

#tartalom{
    background-color: white;
    padding: 10px;
    height: 20rem;
}


