* {
    font-size: 1.23rem;
    color: white;
}

body {
    background: linear-gradient(to bottom,
            rgba(118, 52, 248, 1) 0%,
            rgba(46, 125, 217, 1) 100%);
    background-attachment: fixed;
}

label {
    font-size: 1.2rem;
    text-shadow: 1px 1px #222;
}

span {
    display: inline-block;
    padding: 0.2rem;
    border: 1px solid #222;
    margin-top: 0.3rem;
}

table {
     border: 1px dotted white;
}

td,
th {
    border: 1px dotted white;
}

.container {
    height: 100vh;
}

#cim {
    font-weight: 600;
    text-shadow: 1px 1px #222;
}

#cimsor {
    height: 15%;
}

#tartalom {
    height: 60%;
    align-items: center;
}

#kerdes,
#nevMegjelenit,
#pontMegjelenit,
#nevField {
    background-color: #007bff;
    border-radius: 0.25rem;
}

#uzenet {
    display: inline;
    padding: 0px;
    margin: 0px;
    border: 0;
}

::placeholder{
    color:rgba(255,255,255,0.6);
}

@media screen and (max-width: 438px) {
    #cimsor {
        height: 14%;
    }

    #tartalom {
        height: 86%;
        align-items: initial;
    }

}
