html{
    font-size: 1.35rem;
}

body {
    background: linear-gradient(to bottom,
            rgba(118, 52, 248, 1) 0%,
            rgba(46, 125, 217, 1) 100%);
    background-attachment: fixed;
}

label {
    text-shadow: 1px 1px #222;
}


th, td{
    border:1px solid #dee2e6;
}

.container {
    height: 100vh;
}

#cim {
    text-shadow: 1px 1px #222;
}

#cimsor {
    height: 25%;

}

#tartalom {
    height: 75%;
}


::placeholder{
    color:rgba(255,255,255,0.6);
}

@media screen and (max-width: 438px) {
    #cimsor {
        height: 14%;
    }

    #tartalom {
        height: 86%;
        align-items: initial;
    }
    html{
        font-size: 1.25rem;
    }
}
